{%extends 'base.html'%}

{%block body%}   

<form method="post">

        {{form.csrf_token}}

        <div class="row mb-3">
            <label for="Herkunft" class="col-sm-2 col-form-label">Herkunft</label>
            <div class="col-sm-10">
                {{form.Herkunft()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                {{form.Email()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Nachname" class="col-sm-2 col-form-label">Nachname</label>
            <div class="col-sm-10">
                {{form.Nachname()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Vorname" class="col-sm-2 col-form-label">Vorname</label>
            <div class="col-sm-10">
                {{form.Vorname()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Geburtsdatum" class="col-sm-2 col-form-label">Geburtsdatum</label>
            <div class="col-sm-10">
                {{form.Geburtsdatum()}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

    </form>

    <table class="table">
        <thead>
            <tr>
                <td scope="col">Läufer ID</td>
                <td scope="col">Herkunft</td>
                <td scope="col">Email</td>
                <td scope="col">Nachname</td>
                <td scope="col">Vorname</td>
                <td scope="col">Geburtsdatum</td>
                <td scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
            {%for item in items:%}
                <tr>
                    <td scope="row">{{item.LauferId}}</td>
                    <td>{{item.Herkunft}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Nachname}}</td>
                    <td>{{item.Vorname}}</td>
                    <td>{{item.Geburtsdatum}}</td>
                    <td>
                    <form method="post" action="/laufer/delete">
                        {{form.csrf_token}}
                        <input type="hidden" id="LauferId" name="LauferId" value="{{item.LauferId}}">
                        <button class="btn btn-danger" onclick="deleteLaufer(this); return false;">❌</button>
                    </form>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>

{%endblock%}