{%extends 'base.html'%}

{%block body%}   

<div class="news-wrapper"> 
    <ul class="footer-item">
    <li class="news-item">Marathonlauf erstellen, löschen oder bearbeiten</li>
    <li class="news-item">Marathonlauf erstellen, löschen oder bearbeiten</li>
    <li class="news-item">Marathonlauf erstellen, löschen oder bearbeiten</li>
    </ul> 
</div>  

    <form method="post">

        {{form.csrf_token}}

        <div class="row mb-3">
            <label for="Preisgeld" class="col-sm-2 col-form-label">Preisgeld</label>
            <div class="col-sm-10">
                {{form.Preisgeld()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Kilometer" class="col-sm-2 col-form-label">Kilometer</label>
            <div class="col-sm-10">
                {{form.Kilometer()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Datum" class="col-sm-2 col-form-label">Datum</label>
            <div class="col-sm-10">
                {{form.Datum()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Preis_für_Teilnahme" class="col-sm-2 col-form-label">Preis_für_Teilnahme</label>
            <div class="col-sm-10">
                {{form.Preis_für_Teilnahme()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Besucher" class="col-sm-2 col-form-label">Besucher</label>
            <div class="col-sm-10">
                {{form.Besucher()}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

    </form>

    <table class="table">
        <thead>
            <tr>
                <td scope="col">Marathon ID</td>
                <td scope="col">Preisgeld</td>
                <td scope="col">Kilometer</td>
                <td scope="col">Datum</td>
                <td scope="col">Preis_für_Teilnahme</td>
                <td scope="col">Besucher</td>
                <td scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
            {%for item in items:%}
                <tr>
                    <td scope="row">{{item.MarathonID}}</td>
                    <td>{{item.Preisgeld}}</td>
                    <td>{{item.Kilometer}}</td>
                    <td>{{item.Datum}}</td>
                    <td>{{item.Preis_für_Teilnahme}}</td>
                    <td>{{item.Besucher}}</td>
                    <td>
                    <form method="post" action="/marathonlauf/delete">
                        {{form.csrf_token}}
                        <input type="hidden" id="MarathonID" name="MarathonID" value="{{item.MarathonID}}">
                        <button class="btn btn-danger" onclick="deleteLaufer(this); return false;">❌</button>
                    </form>
                    <button class="btn btn-info mt-1" 
                            onclick="window.location.href='/marathonlauf/editMarathonlaufForm?MarathonID={{item.MarathonID}}'">✏️</button>
                    </td>
                </tr>
            {%endfor%}
        </tbody>

    </table>

{%endblock%}