{%extends 'base.html'%}

{%block body%}   
    <form method="post">

        {{form.csrf_token}}

        <div class="row mb-3">
            <label for="Anschrift" class="col-sm-2 col-form-label">Anschrift</label>
            <div class="col-sm-10">
                {{form.Anschrift()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                {{form.Name()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Sponsoren" class="col-sm-2 col-form-label">Sponsoren</label>
            <div class="col-sm-10">
                {{form.Sponsoren()}}
            </div>
        </div>

        <div class="row mb-3">
            <label for="Telefonnummer" class="col-sm-2 col-form-label">Telefonnummer</label>
            <div class="col-sm-10">
                {{form.Telefonnummer()}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

    </form>

    <table class="table">
        <thead>
            <tr>
                <td scope="col">Organisation ID</td>
                <td scope="col">Anschrift</td>
                <td scope="col">Name</td>
                <td scope="col">Sponsoren</td>
                <td scope="col">Telefonnummer</td>
                <td scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
            {%for item in items:%}
                <tr>
                    <td scope="row">{{item.OrganisationID}}</td>
                    <td>{{item.Anschrift}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Sponsoren}}</td>
                    <td>{{item.Telefonnummer}}</td>
                    <td>
                    <form method="post" action="/organisator/delete">
                        {{form.csrf_token}}
                        <input type="hidden" id="OrganisationID" name="OrganisationID" value="{{item.OrganisationID}}">
                        <button class="btn btn-danger" onclick="deleteOrganisator(this); return false;">❌</button>
                    </form>
                    <button class="btn btn-info mt-1" 
                            onclick="window.location.href='/organisator/editOrganisatorForm?OrganisatorID={{item.OrganisationID}}'">✏️</button>
                    </td>
                </tr>
            {%endfor%}
        </tbody>

    </table>

{%endblock%}